#carrossel{
    width: 100%;
    

}
#stilo{
    
    width: 100%; 
    height: 100%;

}

#colofertas{ 
    width: 100%; 
    height: 100%;
}

#oferta{
    width: 100%; 
    height: 100%;
}
#textopromocao{
    max-width: 600px;

}
#pesquisar{
    width: 400px;
  
}
#redes{
    width: 35px;
    height: 35px;

}
#carrinho{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

@media screen and (max-width:800px){
    #carrossel{
        width: 100%;
    }
    
    #stilo{
        height: 50%;
    }
 
    #textopromocao{
        max-width: 100%;
    }
    #pesquisar{
        width: 200px;
      
    }
    #redes{
        width: 30px;
        height: 30px;
    }
    #imgpromocao{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
}
form button{
    margin-right: 10px;
}
.coattrick{
text-align: center;


}
